.carousel {
  width:1080px;
  height:400px;
}

.carousel-inner > .carousel-item > img {
  height:400px;
}

.carousel-caption {
position: relative;
top: 100px;
z-index: 600;
max-height:177px;
}

    .bg-image:hover{
        background: url("pexels-7.jpg");
    }