.carousel {
  width:1080px;
  height:400px;
}

.carousel-inner > .carousel-item > img {
  height:400px;
}

.carousel-caption {
position: relative;
top: 100px;
z-index: 600;
max-height:177px;
}

.pagination>li>a, .pagination>li>span { 
border-radius: 100%;
margin: 5px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.row{
    column-gap: 20px;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateX(10px);
 }

 .button {
  position: relative;
  background-color: blue;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

