.carousel {
  width:1080px;
  height:400px;
}

.carousel-inner > .carousel-item > img {
  height:400px;
}

.carousel-caption {
position: relative;
top: 100px;
z-index: 600;
max-height:177px;
}

.pagination>li>a, .pagination>li>span { 
border-radius: 100%;
margin: 5px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
